<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8901BE7B1C114965004F7E81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8901BEAC1C1149D0004F7E81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8901FF7D1C5CBE0E004B86AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8902A89E1C1D7F6D0009AD81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89229F681C53375A00201995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>894421851C4E2A1D008DF969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>894421B11C4E2F85008DF969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8957013B1C62405500BC8710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8988613D1C3E00AB00C39836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8988617B1C3E0DAA00C39836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898861A11C3E346500C39836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898861F51C3E501700C39836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898862811C3E6E1700C39836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8999DFC11C58735C00E2A690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89AAF2531C5B7EA9002AD421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89CD56E81BFDC61D0068FC3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89D17BA11C54D9E400D6851A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DB0D1C1C3CE9CB00CCC5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DCDB071C38DCFB00CE7E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DCDBAE1C392C8700CE7E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DCDC171C3950DA00CE7E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DCDC351C3950E800CE7E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E2934E1C52133400E9B157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E2BC0C1BFC983E009D7E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89EBF1C71C1C3EFC00A1F7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
